<div class="row">
    <div class="col-xs-12 col-sm2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm2 col-md-2 col-lg-2" > 
        <p>Eliana Fiasche</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Cuento con amplia experiencia en el rubro telecomunicaciones, cumpliendo diferentes funciones y roles. Contribuyo con propuestas de valor a nuevos procesos. Coordino recursos humanos y materiales para lograr la mejor eficiencia en cada proyecto y asegurar entregas en termino y con calidad.Actualmente me encuentro en la búsqueda de un empleo que me permita desempeñarme como Scrum de proyectos IT.</p>
        </span>
    </div>
</div>
